@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 7%;
    --primary: 210 40% 98%;
  }
  
  body {
    @apply bg-black text-white min-h-screen;
  }
}
